:root {
    --container-padding: 0 90px;
}

.container {
    display: flex;
    justify-content: center;
    padding: var(--container-padding);
}

body {
    background-color: rgba(232, 232, 232, 1);
}

*:focus {
    outline: none;
}

button {
    cursor: pointer;
}

.hidden {
    display: none !important;
}